.add-reservation-form__fieldset {
  margin: 20px 0;
}

.text-input-label,
.time-input-label,
.date-input-label {
  margin: 10px 20px;
  width: 150px;
  text-align: right;
}
.text-input,
.time-input,
.date-input {
  margin-left: 10px;
  display: flex;
  align-self: flex-end;
}
.add-reservation-form {
  font-family: "PT Sans", sans-serif;
  padding: 20px;
}
.times-fieldset__caption {
  font-size: 1.3em;
  margin-bottom: 10px;
}
.add-reservation-form,
.add-reservation-form__form {
  //border: 1px solid red;
}

.add-reservation-form {
  max-width: 50%;
}
.add-reservation-form__names-fieldset {
  display: flex;
  justify-content: flex-end;
  label {
    display: flex;
    flex-basis: 150px;
    text-align: right;
  }
  input {
    display: flex;
    align-self: flex-end;
    justify-content: flex-start;
    width: 100%;
  }
}

.add-reservation-form__send,
.add-reservation-form__show-form,
.add-reservation-form__cancel {
  outline: none;
  margin-right: 10px;
  background: none;
  border: 2px solid #c1c1c1;
  padding: 10px;
  border-radius: 20px;
  &:hover {
    border-color: #14a7b7;
  }
}
.add-reservation-form__show-form,
.add-reservation-form__cancel {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.add-reservation-form__cancel {
}
