.time-table {
  display: flex;
  position: relative;
  //height: 1440px;
  justify-content: space-between;
  font-family: "Playfair Display", serif;
  border: 1px dashed gray;
  padding: 20px;
}
.times,
.table {
  height: 100%;
}
.ruler {
  position: absolute;
  width: 100%;
  background-color: lightgrey;
  height: 1px;

  // parent padding is 20px
  transform: translateX(-20px);
}
.times {
  width: 10%;
  flex-direction: column;
  justify-content: flex-end;
  //align-content: flex-end;
  font-family: "Montserrat", sans-serif;
}
.times__item {
  display: flex;
  height: 60px;
  //   text-decoration: line-through;
  //   text-decoration-color: gray;
  transform: translateY(-8px);
}
.table {
  width: 90%;
  position: relative;
}
.timestamp {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: coral;
  // parent padding is 20px
  transform: translateX(-20px);
  z-index: 10;
}
.reservation {
  position: absolute;
  width: 100%;
  border: 1px solid gray;
  outline: 0;
  color: #333;
  //color: #ffffff;
  font-size: 0.9em;
  font-weight: bold;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
.reservation--green {
  background-color: #e5d352;
}
.reservation--lime {
  background-color: #d9e76c;
}
.reservation--blue {
  background-color: #537d8d;
  color: #ffffff;
}
.reservation--darkpurple {
  background-color: #482c3d;
  color: #ffffff;
}
.reservation__title {
  position: absolute;
  top: 10px;
  left: 10px;
}

.patient-name,
.doctor-name {
  padding: 0;
  margin: 0;
  text-align: left;
}

.reservation__note {
  font-size: 0.7em;
}
