@import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");

/*
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif;

*/
