body {
  background-color: #482c3d;
}
// header
header.page-header {
  background-color: #fffdfd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 1.3em;
}

ul.nav {
  display: flex;
  padding: 0;
  justify-content: center;
}
.nav__item {
  list-style: none;
  padding: 10px;
}
.nav__link {
  font-family: "Montserrat", sans-serif;
  display: block;
  text-align: center;
  padding: 14px 16px;
  &:hover {
    background-color: #ededed;
    transition-duration: 0.5s;
  }
}

// content
.container {
  width: 80%;
  margin: 0 auto;
  background-color: #fffdfd;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 60px;
  border-radius: 20px;
}

.page-heading {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  font-size: 1.8em;
  width: 100%;
  padding: 10px 2px;
  letter-spacing: 0.1em;
  font-weight: bold;
}
.current-time {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
  font-size: 1.4em;
}
